channelBot.json
[{"id":"ee4a343c.aa9768","type":"http request","z":"48f46898.b70b98","name":"Slack response","method":"POST","ret":"txt","url":"<Slack Incoming Webhook URL Goes Here>","x":1090,"y":269,"wires":[[]]},{"id":"fdbae3b8.2f772","type":"function","z":"48f46898.b70b98","name":"Updated count message","func":"var userName = \"Channel Bot\";\nif (msg.channelInfo == \"\"){\n   var text = \"The \" + msg.channelName + \" channel has been created. Go check it out!\";\n} else{\n   var text = \"The \" + msg.channelName + \" channel has been created. The purpose of the channel is: \" + msg.channelInfo + \". Go check it out!\";\n}\nvar jsonText = {\n    text: text,\n    username: userName,\n    icon_url: \"https://raw.githubusercontent.com/huyhong/sharkemoji/master/images/128px/leftshark.png\"\n};\nreturn {\n    payload: JSON.stringify(jsonText),\n};","outputs":1,"noerr":0,"x":868,"y":279,"wires":[["ee4a343c.aa9768"]]},{"id":"f8966833.42c808","type":"switch","z":"48f46898.b70b98","name":"Check for update","property":"update","propertyType":"msg","rules":[{"t":"cont","v":"yes","vt":"str"},{"t":"cont","v":"delete","vt":"str"}],"checkall":"false","outputs":2,"x":603,"y":339,"wires":[["506193b9.4d26fc","fdbae3b8.2f772","52ad18c4.8ed988"],["506193b9.4d26fc"]]},{"id":"1e055f78.029281","type":"function","z":"48f46898.b70b98","name":"Channel Count Update","func":"var channelCount = flow.get(\"channelCount\");\nvar channelName = flow.get(\"newChannel\");\nvar channelInfo = flow.get(\"channelInfo\");\n\nvar msg = msg.payload;\nvar oldCount = msg.size2;\nvar update = \"no\";\n\nif (channelCount > oldCount){\n    update = \"yes\";\n}\nelse if (channelCount < oldCount){\n    update = \"delete\";\n}\nreturn {\n    payload: {\"_id\":\"channelCount\",\n            \"_rev\": msg.rev,\n            \"count\": channelCount\n    },\n    update: update,\n    channelName: channelName,\n    channelInfo: channelInfo,\n    comparison: {\n        old: oldCount,\n        current: channelCount,\n        update: update\n    }\n};","outputs":1,"noerr":0,"x":352,"y":311,"wires":[["f8966833.42c808"]]},{"id":"506193b9.4d26fc","type":"cloudant out","z":"48f46898.b70b98","name":"Update channel count","cloudant":"","database":"messages","service":"Cloudant NoSQL DB-nx","payonly":true,"operation":"insert","x":888,"y":368,"wires":[]},{"id":"52ad18c4.8ed988","type":"debug","z":"48f46898.b70b98","name":"newest channel name","active":true,"console":"false","complete":"channelName","x":876,"y":319,"wires":[]},{"id":"1d8cf0f7.1613af","type":"function","z":"48f46898.b70b98","name":"DB to payload","func":"var rev = \"\";\nvar size2 = \"\";\nvar msg = msg.payload;\nif (msg.payload !== null) {\n        rev = msg._rev;\n        size2 = msg.count;\n}\nreturn {\n    payload:{ \"rev\": rev,\n            \"size2\": size2\n    }\n};","outputs":1,"noerr":0,"x":281,"y":260,"wires":[["1e055f78.029281"]]},{"id":"fce0bc41.77e1e","type":"cloudant in","z":"48f46898.b70b98","name":"Channel Count Message","cloudant":"","database":"messages","service":"Cloudant NoSQL DB-nx","search":"_id_","design":"","index":"","x":280.2500305175781,"y":214.75,"wires":[["1d8cf0f7.1613af"]]},{"id":"b139c1f7.be1","type":"function","z":"48f46898.b70b98","name":"get channel count","func":"var channels = msg.payload.channels.sort(function(a, b){\n    return b.created - a.created;\n});\n\nflow.set(\"channelCount\", channels.length);\nflow.set(\"newChannel\", channels[0].name);\nflow.set(\"channelInfo\", channels[0].purpose.value);\nreturn {\n    payload: {\"_id\": \"channelCount\"}\n};","outputs":1,"noerr":0,"x":237,"y":169,"wires":[["fce0bc41.77e1e"]]},{"id":"a38d0c36.eeae4","type":"http request","z":"48f46898.b70b98","name":"Get Slack Channel List","method":"GET","ret":"obj","url":"https://slack.com/api/channels.list?token=<Slack API Bot Token Goes Here>&exclude_archived=1","x":234,"y":122,"wires":[["b139c1f7.be1"]]},{"id":"21dd9612.9d772a","type":"inject","z":"48f46898.b70b98","name":"Check for new channel every 10 seconds","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"x":210,"y":78,"wires":[["a38d0c36.eeae4"]]}]
