channelBot.json
[{"id":"3e9abe2f.466bb2","type":"http request","z":"22039f3.cf2386","name":"Slack response","method":"POST","ret":"txt","url":"<Slack Incoming Webhook URL Goes Here>","x":937,"y":293,"wires":[[]]},{"id":"24e82830.9d0938","type":"function","z":"22039f3.cf2386","name":"Updated count message","func":"var userName = \"Channel Bot <3\";\nif (msg.channelInfo == \"\"){\n   var text = \"The <#\" + msg.channelId + \"|\" + msg.channelName + \"> channel has been created. Go check it out!\";\n} else{\n   var text = \"The <#\" + msg.channelId + \"|\" + msg.channelName + \"> channel has been created. The purpose of the channel is: \" + msg.channelInfo + \". Go check it out!\";\n}\nvar jsonText = {\n    text: text,\n    username: userName,\n    icon_url: \"https://raw.githubusercontent.com/huyhong/sharkemoji/master/images/128px/leftshark.png\"\n};\nreturn {\n    payload: JSON.stringify(jsonText),\n};","outputs":1,"noerr":0,"x":715,"y":303,"wires":[["3e9abe2f.466bb2"]]},{"id":"241be470.b4b22c","type":"switch","z":"22039f3.cf2386","name":"Check for update","property":"update","propertyType":"msg","rules":[{"t":"cont","v":"yes","vt":"str"},{"t":"cont","v":"delete","vt":"str"}],"checkall":"false","outputs":2,"x":460,"y":343,"wires":[["fe94912a.43bfa","24e82830.9d0938","1d7662af.14cb7d"],["fe94912a.43bfa"]]},{"id":"fe94912a.43bfa","type":"cloudant out","z":"22039f3.cf2386","name":"Update channel count","cloudant":"","database":"nodered","service":"Cloudant NoSQL DB-nx","payonly":true,"operation":"insert","x":735,"y":392,"wires":[]},{"id":"1d7662af.14cb7d","type":"debug","z":"22039f3.cf2386","name":"newest channel name","active":true,"console":"false","complete":"channelName","x":723,"y":343,"wires":[]},{"id":"8a03195c.7f4198","type":"function","z":"22039f3.cf2386","name":"Channel Count Update","func":"var channelCount = flow.get(\"channelCount\");\nvar channelName = flow.get(\"newChannel\");\nvar channelInfo = flow.get(\"channelInfo\");\nvar channelId = flow.get(\"channelId\");\n\n\nvar msg = msg.payload;\nvar oldCount = msg.size2;\nvar update = \"no\";\n\nif (channelCount > oldCount){\n    update = \"yes\";\n}\nelse if (channelCount < oldCount){\n    update = \"delete\";\n}\nreturn {\n    payload: {\"_id\":\"channelCount\",\n            \"_rev\": msg.rev,\n            \"count\": channelCount\n    },\n    update: update,\n    channelName: channelName,\n    channelInfo: channelInfo,\n    channelId: channelId,\n    comparison: {\n        old: oldCount,\n        current: channelCount,\n        update: update\n    }\n};","outputs":1,"noerr":0,"x":347,"y":298,"wires":[["241be470.b4b22c"]]},{"id":"364e5959.977086","type":"function","z":"22039f3.cf2386","name":"DB to payload","func":"var rev = \"\";\nvar size2 = \"\";\nvar msg = msg.payload;\nif (msg.payload !== null) {\n        rev = msg._rev;\n        size2 = msg.count;\n}\nreturn {\n    payload:{ \"rev\": rev,\n            \"size2\": size2\n    }\n};","outputs":1,"noerr":0,"x":276,"y":247,"wires":[["8a03195c.7f4198"]]},{"id":"fa49f149.4aca2","type":"cloudant in","z":"22039f3.cf2386","name":"Channel Count Message","cloudant":"","database":"nodered","service":"Cloudant NoSQL DB-nx","search":"_id_","design":"","index":"","x":275.2500305175781,"y":201.75,"wires":[["364e5959.977086"]]},{"id":"e4e6bdcd.a1932","type":"function","z":"22039f3.cf2386","name":"get channel count","func":"var channels = msg.payload.channels.sort(function(a, b){\n    return b.created - a.created;\n});\n\nflow.set(\"channelCount\", channels.length);\nflow.set(\"newChannel\", channels[0].name);\nflow.set(\"channelInfo\", channels[0].purpose.value);\nflow.set(\"channelId\", channels[0].id);\n\nreturn {\n    payload: {\"_id\": \"channelCount\"}\n};","outputs":1,"noerr":0,"x":232,"y":156,"wires":[["fa49f149.4aca2"]]},{"id":"e60cec14.7959a","type":"http request","z":"22039f3.cf2386","name":"Get Slack Channel List","method":"GET","ret":"obj","url":"https://slack.com/api/channels.list?token=<Slack API Bot Token Goes Here>&exclude_archived=1","x":229,"y":109,"wires":[["e4e6bdcd.a1932"]]},{"id":"89f5e174.990e4","type":"inject","z":"22039f3.cf2386","name":"Check for new channel every 10 seconds","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"x":205,"y":65,"wires":[["e60cec14.7959a"]]}]
